.annual-plan-section {
  border-radius: 11px;
  background: #f7f9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 48px 32px;
  padding: 25px 24px;
}

.price-section {
  display: flex;
  flex-direction: column;
}

.second-section {
  display: flex;
}
