.annual-plan-section {
  border-radius: 11px;
  background: #f7f9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 48px 32px;
  padding: 25px 24px;
}

.price-section {
  display: flex;
  flex-direction: column;
}

.price-section p {
  width: 92px;
  color: #1f2e55;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.price-section span {
  width: 92px;
  color: #717fa6;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.second-section {
  display: flex;
  gap: 20px;
}

a {
  color: #382ae1;
  font-family: Red Hat Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
